<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Project_GEO</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
 
  <servlet>
    <description></description>
    <display-name>GetUser</display-name>
    <servlet-name>GetUser</servlet-name>
    <servlet-class>Controller.GetUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUser</servlet-name>
    <url-pattern>/GetUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetQues</display-name>
    <servlet-name>GetQues</servlet-name>
    <servlet-class>Controller.GetQues</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetQues</servlet-name>
    <url-pattern>/GetQues</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>Controller.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dashboard</display-name>
    <servlet-name>Dashboard</servlet-name>
    <servlet-class>Controller.Dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dashboard</servlet-name>
    <url-pattern>/Dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQuestion</display-name>
    <servlet-name>AddQuestion</servlet-name>
    <servlet-class>Controller.AddQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuestion</servlet-name>
    <url-pattern>/AddQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteQuestion</display-name>
    <servlet-name>DeleteQuestion</servlet-name>
    <servlet-class>Controller.DeleteQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteQuestion</servlet-name>
    <url-pattern>/DeleteQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBarChart</display-name>
    <servlet-name>GetBarChart</servlet-name>
    <servlet-class>Controller.GetBarChart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBarChart</servlet-name>
    <url-pattern>/GetBarChart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteQues</display-name>
    <servlet-name>DeleteQues</servlet-name>
    <servlet-class>Controller.DeleteQues</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteQues</servlet-name>
    <url-pattern>/DeleteQues</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditQuestion</display-name>
    <servlet-name>EditQuestion</servlet-name>
    <servlet-class>Controller.EditQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditQuestion</servlet-name>
    <url-pattern>/EditQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetQuestions</display-name>
    <servlet-name>GetQuestions</servlet-name>
    <servlet-class>Controller.GetQuestions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetQuestions</servlet-name>
    <url-pattern>/GetQuestions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutUser</display-name>
    <servlet-name>LogOutUser</servlet-name>
    <servlet-class>Controller.LogOutUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutUser</servlet-name>
    <url-pattern>/LogOutUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignIn</display-name>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>Controller.SignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/SignIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Status</display-name>
    <servlet-name>Status</servlet-name>
    <servlet-class>Controller.Status</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Status</servlet-name>
    <url-pattern>/Status</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatusChange</display-name>
    <servlet-name>StatusChange</servlet-name>
    <servlet-class>Controller.StatusChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusChange</servlet-name>
    <url-pattern>/StatusChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetQuesId</display-name>
    <servlet-name>GetQuesId</servlet-name>
    <servlet-class>Controller.GetQuesId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetQuesId</servlet-name>
    <url-pattern>/GetQuesId</url-pattern>
  </servlet-mapping>
</web-app>